### 문제 1

1번. a.로그수집
2번. f.크롤링
3번. C.오픈API
4번 h.센서수집

### 문제 2

크롤링 개념
- 인터넷에 존재하는 데이터를 컴퓨터 프로그램을 통하여 자동화된 방법으로 웹에서 데이터를 수집하는 모든 작업

필요성
- 다양한 데이터를 빠른 시간에 정제된 형태로 수집할 수 있음.

### 문제 3. BeautifulSoup 모듈

- html객체에 저장한 자료를 쉽게 추출할 수 있는 형태로 파싱하는 모듈

### 문제4

1번은 1개씩만 가져올 수 있고 2번은 여러개를 가져올 수 있음.

### 문제5

soup = bs(res.content, ‘lxml’)
crawling = soup.select_one('p>span')
print(crawling.text)

## Q2
### 문제2

In [7]:
import numpy as np
import pandas as pd
import requests as req
from bs4 import BeautifulSoup as bs

import time
from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys
from tqdm import tqdm_notebook

In [3]:
url = 'https://www.google.com/'
driver = wb.Chrome()
goo=driver.get(url)

In [5]:
input_area = driver.find_element_by_class_name("gLFyf")

In [6]:
input_area.send_keys("사과")

In [7]:
input_area.send_keys(Keys.ENTER)

## Q3
### 문제3

In [8]:
url = "https://datalab.naver.com/keyword/realtimeList.naver?where=main"
driver = wb.Chrome()
naver = driver.get(url)

In [10]:
search = bs(driver.page_source, 'lxml')

In [15]:
title=search.select('.item_title_wrap>.item_title')

In [18]:
len(title)

20

In [21]:
title_list=[]
seq_list =[]
for i in range (len(title)):
    title_list.append(title[i].text)
    seq_list.append(i+1)

In [22]:
title_dic={"순위":seq_list, "실시간 검색어":title_list}

In [23]:
title_df=pd.DataFrame(title_dic, index=seq_list)

In [25]:
title_df.set_index('순위' , inplace=True)

In [26]:
title_df

     실시간 검색어
순위
1     부산 3단계
2        전두환
3   롯데마트 안내견
4        업텐션
5    러블리즈 미주
6     박은정 검사
7        김유미
8      강원대학교
9    연애말고 결혼
10      엔하이픈
11       신라젠
12        큐비
13        넵튠
14     호서대학교
15        부산
16   라울 히메네스
17       종근당
18   코로나 헬스장
19       조남관
20    종근당바이오

## Q4
### 문제1

### 태양쌤 풀이

In [59]:
url = 'https://front.wemakeprice.com/best'
driver = wb.Chrome()
driver.get(url)

### soup으로 하면 처음 가져온 url에서 select하고
### driver로 가져오면 현재 위치한 페이지에서 select

In [53]:
img_list = driver.find_elements_by_css_selector('div.flag_wrap')

In [23]:
img_list[0].click()

In [25]:
soup = bs(driver.page_source, 'lxml')
title = soup.select('.deal_tit')
price = soup.select('.sale_price .num')
origin = soup.select('.origin p')

In [50]:
driver.back()

In [ ]:
img_list = driver.find_elements_by_css_selector('div.flag_wrap')

In [54]:
img_list[1].click()

In [55]:
soup = bs(driver.page_source, 'lxml')
title = soup.select('.deal_tit')
price = soup.select('.sale_price .num')
origin = soup.select('.origin p')

In [ ]:
driver.back()

## 반복문 정리

In [68]:
url = 'https://front.wemakeprice.com/best'
driver = wb.Chrome()
driver.get(url)

In [69]:
title_list=[]
price_list=[]
origin_list=[]

for index in tqdm_notebook(range(10)):
    img_list = driver.find_elements_by_css_selector('div.flag_wrap')
    img_list[index].click() #n번째 이미지 클릭
    time.sleep(2)
    soup = bs(driver.page_source, 'lxml') #클릭한 페이지 정보 파싱
    
    try:
        title_list.append(soup.select('.deal_tit')[0].text) 
        price_list.append(soup.select('.sale_price .num')[0].text)
        origin_list.append(soup.select('.origin p')[0].text.strip())
        # select로 가져오면 리스트형이라 인덱스 표시해줘야 오류 안뜸
        # 가져오는 값이 하나라 그냥 [0]으로 표시
    except:
        origin_list.append("원산지 없음") #원산지 없는 부분 예외처리
        
    driver.back()
    time.sleep(2)

<ipython-input-69-197660e661a7>:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for index in tqdm_notebook(range(10)):

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

In [75]:
wmp_dic={"title":title_list, "price":price_list, "origin":origin_list}

In [82]:
rank_list=[]

for i in range(1,11):
    rank_list.append(i)

In [83]:
wmp_df=pd.DataFrame(wmp_dic, index=rank_list)

In [84]:
wmp_df

                                                title   price        origin
1                   15%쿠폰/마이셰프 보니따 리꼬 스테이크 / 신제품 단독판매   9,900  원산지 : 상세설명참조
2                          맛있는 오뚜기밥 210gX48 외 오뚜기BEST  44,500  원산지 : 상세설명참조
3              [위메프데이]그린핑거 최초런칭행사 대용량 키즈 수분촉촉크림 외 모음전  12,900        원산지 없음
4              [위메프데이]베베숲 시그니처 블루 70매 캡 20팩 외 물티슈 모음전  40,900        원산지 없음
5                       6시까지 긴급추가/난닝구 24시간 역대급 블프SALE   9,900        원산지 없음
6                       셀퓨전씨 더마 선/스킨케어 브랜드데이 선착순 체험팩    8,500        원산지 없음
7     한정수량300개/최대63%/마더케이 새지않는 빨대컵 210ml 1+1 ★스낵캡 증정★  16,500        원산지 없음
8             [위메프데이]최대35% / 테크 세제 대용량 8L 외 섬유유연제, 샴푸  11,900        원산지 없음
9   [위메프데이]장당189원_100%국산 KF94 대형/소형/새부리형/블랙 외 마스크 모음전  22,900  원산지 : 상세설명참조
10                         3분 쇠고기짜장 200Gx9+3분 쇠고기카레x9  14,900  원산지 : 상세설명참조

In [85]:
wmp_df.to_csv("위메프베스트_정답.csv", encoding='euc-kr')

#### 원산지 없이 내가 푼 거

In [190]:
title = weme.select('.text')

In [191]:
price = weme.select('.price_info .num')

In [192]:
title_list = []
price_list = []
seq_list = []

for i in range(len(title)):
    title_list.append(title[i].text)
    price_list.append(price[i].text)
    seq_list.append(i+1)

In [193]:
weme_dic={"상품명":title_list, "가격":price_list}

In [194]:
weme_df=pd.DataFrame(weme_dic, index=seq_list)

In [195]:
weme_df

                                         상품명      가격
1          장당179원_강블리라이프 KF94 마스크 100매 외 모음전  15,900
2    최대30%쿠폰/다우니 실내건조 섬유유연제 1L 6개+세탁세제 폼 ...  19,880
3    3000개한정/ 2021년 일력 + 봉지라면 세트 /밤10시까지 ...   7,650
4            베베숲 시그니처 블루 70매 캡 20팩 외 전품목 모음   26,950
5    안전한 블루나 KF94 소형마스크 60매입(개별포장) 외 블랙마스...  19,900
..                                       ...     ...
96   퍼니트 남성지구력 증진 나이아가라 쏘팔메토 옥타코사놀 60캡슐 2...   9,810
97          퍼니트 급찐급빠엔 리얼 가르시니아 900 8주분외 다이어트   8,910
98                      더플로레 피로회복 홍경천 알파 30정  11,610
99            퍼니트 몽모랑시 타트체리 주스 파우치 30포외 건강식품  15,210
100         퍼니트 락추로스 프리+프로바이오틱스 유산균  2통 60포외  15,210

[100 rows x 2 columns]

In [186]:
weme_df.to_csv("K디지털_김혜선_위메프베스트.csv", encoding='utf-16')

## Q4
### 문제 2

In [42]:
url = 'https://sports.news.naver.com/kbaseball/record/index.nhn?category=kbo'
res= req.get(url)
soup = bs(res.text, 'lxml')

In [45]:
rank=soup.select('td')

In [62]:
seq_list=[]
for i in range(10):
    seq_list.append(i+1)
print(seq_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
list=[]
for i in rank:
    list.append(i.text.strip())

In [58]:
list=list[:110]

In [59]:
a=np.array(list).reshape(-1,11)

In [81]:
a_df=pd.DataFrame(a, index=seq_list)

In [82]:
base=a_df.T.iloc[:6]

In [87]:
base.index=['팀','경기','승','패','무','승률']

In [89]:
base

       1      2      3      4      5      6      7      8      9      10
팀      NC     두산     KT     LG     키움    KIA     롯데     삼성     SK     한화
경기    144    144    144    144    144    144    144    144    144    144
승      83     79     81     79     80     73     71     64     51     46
패      55     61     62     61     63     71     72     75     92     95
무       6      4      1      4      1      0      1      5      1      3
승률  0.601  0.564  0.566  0.564  0.559  0.507  0.497  0.460  0.357  0.326

In [100]:
base.loc['순위']=seq_list

In [101]:
final=base.T

In [104]:
final.set_index('순위', inplace=True)

In [105]:
final

      팀   경기   승   패  무     승률
순위
1    NC  144  83  55  6  0.601
2    두산  144  79  61  4  0.564
3    KT  144  81  62  1  0.566
4    LG  144  79  61  4  0.564
5    키움  144  80  63  1  0.559
6   KIA  144  73  71  0  0.507
7    롯데  144  71  72  1  0.497
8    삼성  144  64  75  5  0.460
9    SK  144  51  92  1  0.357
10   한화  144  46  95  3  0.326

In [106]:
final.to_csv("K디지털_김혜선_야구순위.csv", encoding='euc-kr')

### KBO사이트

In [86]:
url = 'https://www.koreabaseball.com/TeamRank/TeamRank.aspx'
res=req.get(url)
soup=bs(res.text, 'lxml')

In [92]:
x=soup.select('td')

In [106]:
x=x[:120]

In [110]:
data_list=[]
for i in x:
    data_list.append(i.text)

In [111]:
import numpy as np

In [118]:
final=np.array(data_list).reshape(10,12)

In [119]:
final

array([['1', 'NC', '144', '83', '55', '6', '0.601', '0', '4승2무4패', '1패',
        '45-3-24', '38-3-31'],
       ['2', '두산', '144', '79', '61', '4', '0.564', '5', '6승0무4패', '4승',
        '41-2-29', '38-2-32'],
       ['3', 'KT', '144', '81', '62', '1', '0.566', '4.5', '7승0무3패',
        '1패', '44-0-28', '37-1-34'],
       ['4', 'LG', '144', '79', '61', '4', '0.564', '5', '5승1무4패', '2패',
        '39-3-30', '40-1-31'],
       ['5', '키움', '144', '80', '63', '1', '0.559', '5.5', '6승0무4패',
        '1패', '41-1-30', '39-0-33'],
       ['6', 'KIA', '144', '73', '71', '0', '0.507', '13', '4승0무6패',
        '1승', '37-0-35', '36-0-36'],
       ['7', '롯데', '144', '71', '72', '1', '0.497', '14.5', '3승0무7패',
        '1승', '41-0-31', '30-1-41'],
       ['8', '삼성', '144', '64', '75', '5', '0.460', '19.5', '6승2무2패',
        '1승', '33-2-37', '31-3-38'],
       ['9', 'SK', '144', '51', '92', '1', '0.357', '34.5', '5승0무5패',
        '1승', '28-0-44', '23-1-48'],
       ['10', '한화', '144', '46', '95', '3', '0.326', '38.5', '3승1무6패',
        '1승', '25-2-45', '21-1-50']], dtype='<U7')

In [122]:
x=pd.DataFrame(final, columns= ['순위','팀명','경기수','승','패','무','승률','게임차','최근10경기','연속','홈','방문'])
# columns 칼럼명 지정
# 너무 길면 따로 변수처리해줘도 됨.

In [124]:
x=x.set_index("순위")

In [126]:
final=x.iloc[:,0:6]
# 앞은 행을 자르니까 콤마로 구분해서 앞은 전부다 가져오고 뒷부분은 열을 자른다.

In [127]:
final

     팀명  경기수   승   패  무     승률
순위
1    NC  144  83  55  6  0.601
2    두산  144  79  61  4  0.564
3    KT  144  81  62  1  0.566
4    LG  144  79  61  4  0.564
5    키움  144  80  63  1  0.559
6   KIA  144  73  71  0  0.507
7    롯데  144  71  72  1  0.497
8    삼성  144  64  75  5  0.460
9    SK  144  51  92  1  0.357
10   한화  144  46  95  3  0.326